[package]
name = "dare"
version = "0.1.0"
edition = "2024"
authors = ["Danny Le <git@dannydoes.graphics>"]

[dependencies]
anyhow = "1.0.100"
thiserror = "2.0.17"
dagal = { path = "../dagal", features = ["winit", "bootstrap", "gpu-allocator", "log-memory-allocations", "shaderc", "tokio"] }
tracing = "0.1.43"
tracing-subscriber = "0.3.22"
glam = "0.30.9"
gltf = { version = "1.4.1", features = ["KHR_lights_punctual"] }
bytemuck = "1.24.0"
bitflags = "2.10.0"
image = "0.25.9"
tokio = { version = "1.48.0", features = ["sync", "rt", "rt-multi-thread", "macros", "fs"] }
tokio-util = { version = "0.7.17", features = ["compat", "codec"] }
derivative = "2.2.0"
bevy_ecs = { version = "0.17.3", features = ["default", "multi_threaded"] }
reqwest = { version = "0.12.25", features = ["stream", "blocking"] }
dare_containers = { path = "../containers" }
dare_assets = { path = "../dare_assets" }
dare_physics = { path = "../dare_physics" }
bevy_tasks = "0.17.3"
futures = "0.3.31"
crossbeam-channel = "0.5.15"
num-traits = "0.2.19"
tracy-client = { version = "0.18.3", features = ["enable"] }
bytes = "1.11.0"
#tracing-tracy = {version = "0.11.4", features = ["enable"]}
#slang = { git = "https://github.com/ProjectKML/slang-rs.git" }

[dev-dependencies]
rand = "0.9.2"

[features]
# Tracing
tracing = []
